<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mytrip"
     >

    <!--***************高德地图***************-->

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--***************高德地图 End***************-->


    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- qq登陆所需 权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.example.mytrip.base.MyApp">

        <!-- 填写百度的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="u2nNVGDxyTk1b3UEkSjUMphy" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3f44903c281390a1913bb6f84aa67436"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <activity
            android:name="com.example.mytrip.ui.MainActivity"
            android:label="@string/app_name" >

        </activity>

        <activity android:name=".ui.SightDetailActivity"/>

        <activity android:name="com.example.mytrip.ui.login.GuideActivity">

        </activity>
        <activity android:name="com.example.mytrip.ui.login.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mytrip.ui.login.LoginActivity">


        </activity>

        <!-- qq登录所需 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100442925" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mytrip.ui.RegisterActivity"></activity>
        <activity android:name="com.example.mytrip.ui.RegisterDataActivity"></activity>
        <activity android:name="com.example.mytrip.ui.FindResetPasswordActivity"></activity>
        <activity android:name="com.example.mytrip.ui.MapActivity"></activity>
        <activity android:name="com.example.mytrip.ui.PublishPostActivity"></activity>
        <activity android:name=".ui.slideactivity.ExerciseActivity"></activity>
        <activity android:name="com.example.mytrip.ui.MapOfflineActivity"></activity>
        <activity android:name="com.example.mytrip.ui.map.BaseMapAct"></activity>
        <activity android:name="com.example.mytrip.ui.MapInfoActivity"></activity>
        <activity android:name="com.example.mytrip.ui.MapNavigationActivity"></activity>
        <!--<activity android:name="FeedBackActivity"></activity>-->
        <activity android:name=".ui.footprint.FootPrintActivity"></activity>
        <activity android:name="com.example.mytrip.ui.SetActivity"></activity>
        <activity android:name="com.example.mytrip.ui.EditSignActivity"></activity>
        <activity android:name="com.example.mytrip.ui.FindPasswordActivity"></activity>
        <activity android:name=".ui.FeedBackActivity"/>
    </application>

</manifest>
